<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/home">
      <img src="https://angular.io/generated/images/marketing/concept-icons/router.png" width="30" height="30"
        class="d-inline-block align-top" alt="">
      Angular Router
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/inventor">Inventor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lazy">Lazy</a>
        </li>
      </ul>
      <div class="ml-auto" *ngIf="auth.isLoggedin">
        <ul class="navbar-nav">
          <li class="nav-item" (click)="logOut()">
            Logout
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>